/*
 * CHAPTER DETAIL
 */

.chapter {
  --chapter-color: rgba(255, 255, 255, 0.8);
  --media-container-height: 160px;
  position: absolute;
  display: flex;
  width: 350px;
  height: calc(100vh - 190px);
  flex-direction: column;
  align-items: flex-start;
  border-radius: var(--spacing-medium);
  background: rgba(0, 0, 0, 0.8);
  z-index: 1;
  top: var(--spacing-medium-large);
  right: var(--spacing-medium-large);
  font-weight: 400;
  overflow: hidden;
}

.chapter .chapter-detail {
  display: flex;
  flex-direction: column;
  height: calc(100% - 70px);
  width: 100%;
  padding: var(--spacing-medium) var(--spacing-medium-large) 0px
    var(--spacing-medium-large);
}

.chapter .story-title {
  color: rgba(255, 255, 255, 0.8);
  font-family: var(--font-family-serif);
  font-size: var(--font-size-medium);
  line-height: var(--spacing-large);
}

.chapter .story-intro-attribution {
  text-align: right;
}

.chapter .story-intro-author,
.chapter .story-intro-date {
  color: var(--chapter-color);
}

.chapter h2 {
  color: #fff;
  font-family: var(--font-family-serif);
  font-size: 2rem;
  margin: var(--spacing-small) 0;
}

.chapter .date,
.chapter .place {
  color: #bdc1c6;
  font-size: var(--font-size-medium);
  line-height: var(--spacing-medium-large);
  letter-spacing: 0.021px;
}

.chapter .hero-media-container {
  overflow: hidden;
  height: var(--media-container-height);
  width: 100%;
  display: block;
  overflow: hidden;
  border-radius: var(--spacing-small);
  margin-bottom: var(--spacing-small);
  background-color: var(--background-color-reduced);
}

.chapter .hero {
  display: block;
  height: calc(100% + 2px);
  width: calc(100% + 2px);
  object-fit: cover;
  margin: -1px;
}

.hero:before {
  content: "Error loading chapter image";
  display: inline-flex;
  align-items: center;
  justify-content: center;
  position: relative;
  /* background-color: var(--background-color-reduced); */
  background-color: red;
  height: 100%;
  width: 100%;
}

.chapter .description {
  flex-grow: 1;
  overflow: auto;
  color: var(--chapter-color);
  font-family: var(--font-family-base);
  font-size: var(--font-size-medium);
  line-height: var(--spacing-medium-large);
  letter-spacing: 0.1px;
  margin-bottom: var(--spacing-medium);
}

.chapter .attribution {
  color: #80868b;
  align-self: flex-end;
  font-family: var(--font-family-base);
  font-size: 0.75rem;
  line-height: var(--spacing-medium-large);
  letter-spacing: 0.2px;
  text-align: right;
}

.chapter nav {
  display: none;
  width: 100%;
  padding: var(--spacing-medium);
  justify-content: end;
  user-select: none;
}

.chapter nav.active {
  display: inline-flex;
}

.chapter .intro-navigation #start-story {
  border-radius: var(--spacing-medium);
  background-color: var(--accent-color);
  color: var(--text-color-white);
  display: inline-flex;
  gap: var(--spacing-extra-small);
  padding: var(--spacing-small) var(--spacing-medium);
  padding-right: var(--spacing-extra-small);
  align-items: center;
}

.chapter .detail-navigation #autoplay-story svg,
.chapter .detail-navigation #autoplay-story path {
  fill: var(--accent-color);
}

.chapter .intro-navigation {
  background-color: unset;
}

.chapter .detail-navigation {
  background-color: var(--background-color);
  justify-content: space-between;
}

.chapter .detail-navigation .controls-container {
  display: flex;
  align-items: center;
  gap: var(--spacing-medium-large);
  color: var(--accent-color);
}
.chapter .detail-navigation button {
  height: 24px;
}

.chapter .detail-navigation #chapter-forward-icon {
  rotate: 180deg;
}

.chapter .detail-navigation #chapter-forward-button:disabled {
  opacity: 0.5;
}

#chapters-bar {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  display: grid;
  grid-template-columns: auto 1fr auto;
  grid-template-areas: "navigation-previous cards navigation-next";
  gap: 0.75rem;
  align-items: center;
  margin: 2.5rem var(--spacing-medium-large);
}

.cards {
  grid-area: cards;
  display: flex;
  align-items: flex-end;
  gap: 0.75rem;
  overflow: auto;
}

.card {
  --card-background-color: var(--background-color);
  --card-text-color: var(--text-color-primary);
  transition: width 0.3s, height 0.3s;
  position: relative;
  flex-shrink: 0;
  width: 9rem;
  height: 7rem;
  border: 4px solid var(--card-background-color);
  border-radius: 16px;
  overflow: hidden;
  font-size: 0.75rem;
  line-height: 1.25rem;
}

.card:hover {
  --card-background-color: rgba(0, 0, 0, 0.8);
  --card-text-color: var(--text-color-white);
}

.card.selected {
  width: 9.5rem;
  height: 7.5rem;
  --card-background-color: #000;
  --card-text-color: #fff;
}

.card > img {
  width: calc(100% + 2px);
  height: calc(100% + 2px);
  object-fit: cover;
  background-color: var(--color-light-grey);
  margin: -1px;
}

.card > img:before {
  content: "No image";
  display: inline-flex;
  align-items: center;
  justify-content: center;
  position: relative;
  background-color: var(--background-color-reduced);
  height: 100%;
  width: 100%;
}

.chapter-card .date {
  position: absolute;
  top: 0;
  left: 0;
  margin: 0.1875rem 0.3125rem;
  padding: 0 var(--spacing-small);
  background: rgba(0, 0, 0, 0.7);
  border-radius: 1em;
  color: #fff;
  font-size: inherit;
}

.chapter-card > div {
  z-index: 1;
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  height: 3.5em;
}

.chapter-card > div > h2 {
  height: 2.8em;
  padding: 0.3125rem;
  color: var(--card-text-color);
  font-size: inherit;
  line-height: 0.875rem;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;

  @supports (-webkit-line-clamp: 2) {
    white-space: initial;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
  }
}

.chapter-card > div > h2::before {
  content: "";
  z-index: -1;
  position: absolute;
  inset: 0;
  background: var(--card-background-color);
  opacity: 0.9;
}

.story-intro > h1 {
  position: absolute;
  inset: 0;
  display: flex;
  align-items: center;
  padding: var(--spacing-medium);
  background: rgba(0, 0, 0, 0.6);
  color: #fff;
  font-family: var(--font-family-serif);
  font-size: 1.125rem;
  line-height: 1.375rem;
}

#chapters-bar .navigation-button {
  position: relative;
  box-sizing: border-box;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
}

#chapters-bar .navigation-button.hidden {
  display: none;
}

#chapters-bar .navigation-button.previous {
  grid-area: navigation-previous;
}
#chapters-bar .navigation-button.next {
  grid-area: navigation-next;
}

#chapters-bar .navigation-button::before {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: inherit;
  background-color: #fff;
  opacity: 0.6;
}
#chapters-bar .navigation-button:hover::before,
#chapters-bar .navigation-button:focus-visible::before {
  opacity: 0.8;
}

#chapters-bar .navigation-button::after {
  content: url("data:image/svg+xml,%3Csvg viewBox='0 0 18 18' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M6.01875 16.5L4.6875 15.1688L10.8563 9L4.6875 2.83125L6.01875 1.5L13.5188 9L6.01875 16.5Z' fill='%23202124'/%3E%3C/svg%3E");
  position: relative;
  display: block;
  width: 1.125rem;
  height: 1.125rem;
}
#chapters-bar .navigation-button.previous::after {
  transform: rotate(180deg);
}

#media-container {
  width: 100%;
  height: 100%;
  border: none;
}
