#sidebar {
  --gap: var(--spacing-medium);
  --gap-large: var(--spacing-medium-large);
  --custom-border-radius: 4px;
  grid-area: sidebar;
  z-index: 3;
  display: grid;
  position: relative;
  grid-template-rows: [intro-start] min-content [intro-end] min-content [details-end] 1fr [story-end] min-content [download-end];
}

#sidebar::after {
  z-index: 3;
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 10px;
  height: 100%;
  box-shadow: 4px 0px 6px -1px rgba(60, 64, 67, 0.15);
}

.sidebar-collapse-toggle {
  --sidebar-toggle-width: 0.75rem;
  z-index: 1;
  all: unset;
  position: relative;
  top: 50%;
  right: calc(-1 * var(--sidebar-toggle-width));
  width: var(--sidebar-toggle-width);
  height: 2rem;
  position: absolute;
  background-color: var(--background-color);
  border-radius: 0 var(--custom-border-radius) var(--custom-border-radius) 0;
}

.sidebar-collapse-toggle::after {
  content: "";
  position: absolute;
  background-image: url("../assets/icons/toggle-sidebar-arrow-icon.svg");
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
}

.main-container.sidebar-is-collapsed .sidebar-collapse-toggle::after {
  transform: rotate(180deg);
}

.sidebar-collapse-toggle:not(:disabled):hover {
  cursor: pointer;
}

.content-grid {
  display: grid;
  grid-template-columns:
    [full-width-start] var(--gap-large)
    [content-start] var(--gap) [indented-start] auto
    [indented-end] var(--gap) [content-end] var(--gap-large)
    [full-width-end];
}

.content-grid > *:not(.breakout, .full-width, button) {
  grid-column: content;
}

.content-grid > .content {
  grid-column: content;
}

.content-grid > .indented {
  grid-column: indented;
}

.content-grid > .full-width {
  grid-column: full-width;
}

.main-container #sidebar > div,
.main-container #sidebar > details {
  transition: translate 0.3s ease-in-out;
}

.main-container.sidebar-is-collapsed #sidebar div,
.main-container.sidebar-is-collapsed #sidebar details {
  translate: calc(-1 * var(--sidebar-width));
}

.main-container.sidebar-is-collapsed #sidebar {
  display: block;
}

.google-maps-platform-text {
  height: var(--spacing-medium-large);
  margin-bottom: var(--spacing-medium);
}

.storytelling-intro {
  position: relative;
  background-color: var(--background-color-grey);
  width: 100%;
  border-bottom: 1px solid var(--color-light-grey);
  padding-block: var(--gap);
}

.storytelling-intro h1 {
  padding-bottom: var(--spacing-small);
}

.storytelling-intro p {
  padding-bottom: var(--spacing-small);
}

.google-maps-icon {
  background-image: url("../assets/icons/google-maps-icon.svg");
  display: none;
  margin-top: var(--gap);
  margin-left: var(--spacing-small);
}

.main-container.sidebar-is-collapsed .google-maps-icon {
  display: block;
}

.storytelling-intro. h1 {
  margin-bottom: var(--spacing-small);
}

.storytelling-intro p {
  color: var(--text-color-secondary);
}

.maps-platform-intro {
  display: flex;
  align-items: center;
  height: var(--spacing-medium-large);
  color: var(--text-color-secondary);
}

.location-tiles {
  position: absolute;
  top: 6rem;
  bottom: 0;
  overflow: scroll;
  width: 100%;
}

.scroll-container {
  overflow: scroll;
  height: 100%;
  flex-shrink: 0;
  min-height: 0;
}

details {
  position: relative;
  overflow: hidden;
}

details > summary {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-block: var(--spacing-medium);
}

details > summary::-webkit-details-marker {
  display: none;
}

summary h2 {
  font-size: var(--font-size-large);
  line-height: 1.5;
  color: var(--accent-color);
}

summary::after {
  width: 1.5rem;
  height: 1.5rem;
  /* expand icon */
  content: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M12 15.3746L6 9.37461L7.4 7.97461L12 12.5746L16.6 7.97461L18 9.37461L12 15.3746Z' fill='%231A73E8'/%3E%3C/svg%3E");
}

.locations-container[open] summary::after,
.story-details-container[open] summary::after {
  /* collapse icon */
  content: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M7.4 15.3746L6 13.9746L12 7.97461L18 13.9746L16.6 15.3746L12 10.7746L7.4 15.3746Z' fill='%231A73E8'/%3E%3C/svg%3E");
}

.story-details-container {
  padding-inline: var(--spacing-medium-large);
  border-bottom: 1px solid var(--color-light-grey);
}

.locations-container > summary,
.locations-container > .location-input {
  padding-inline: var(--spacing-medium-large);
}

.locations-container > ul {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
}

.location-input {
  position: relative;
  display: flex;
  align-items: center;
  pointer-events: all;
  flex-grow: 1;
}

.location-input::before {
  content: url("data:image/svg+xml,%3Csvg viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M19.7811 21.4261L13.2082 14.8627C12.7176 15.253 12.1444 15.5599 11.4885 15.7833C10.8325 16.0068 10.1271 16.1185 9.37236 16.1185C7.49279 16.1185 5.90037 15.4654 4.59511 14.1592C3.28984 12.8531 2.63721 11.2722 2.63721 9.41667C2.63721 7.5611 3.29029 5.98024 4.59646 4.67407C5.90262 3.36792 7.48626 2.71484 9.34736 2.71484C11.2085 2.71484 12.7893 3.36792 14.0899 4.67407C15.3905 5.98024 16.0409 7.56194 16.0409 9.41917C16.0409 10.1586 15.932 10.8517 15.7144 11.4987C15.4968 12.1457 15.1814 12.7407 14.7684 13.2837L21.3626 19.8493L19.7811 21.4261ZM9.35903 13.9148C10.6103 13.9148 11.6695 13.477 12.5366 12.6014C13.4037 11.7258 13.8372 10.6643 13.8372 9.41667C13.8372 8.16909 13.4032 7.10749 12.5352 6.23187C11.6672 5.35627 10.6085 4.91847 9.35903 4.91847C8.10033 4.91847 7.03262 5.35627 6.15591 6.23187C5.27921 7.10749 4.84086 8.16909 4.84086 9.41667C4.84086 10.6643 5.27875 11.7258 6.15453 12.6014C7.03031 13.477 8.09848 13.9148 9.35903 13.9148Z' fill='%2380868B'/%3E%3C/svg%3E");
  position: absolute;
  width: 1.5rem;
  height: 1.5rem;
  margin: 0 var(--spacing-medium);
  pointer-events: none;
}

.location-input > input[type="text"] {
  width: 100%;
  padding: calc(1.5rem + 2 * var(--spacing-medium));
  padding-block: var(--spacing-small);
  display: flex;
  align-items: center;
  gap: 8px;
  border-radius: 24px;
  border: 1px solid var(--color-light-grey);
}

.location-tile {
  --custom-margin-left: calc(
    var(--spacing-medium) + var(--spacing-medium-large)
  );
  flex-shrink: 0;
  display: flex;
  position: relative;
  gap: var(--spacing-small);
  padding-block: var(--spacing-small);
  align-items: center;
}

.location-tile > * {
  flex-shrink: 0;
  flex-grow: 0;
}

.location-tile > p {
  margin-left: calc(2rem + var(--custom-margin-left));
}

.location-tile > button {
  height: var(--spacing-medium-large);
  cursor: pointer;
  margin-inline: auto var(--spacing-medium-large);
}

.location-tile::before {
  content: url("../assets/icons/location-marker-icon.svg");
  position: absolute;
  left: var(--custom-margin-left);
  pointer-events: none;
  height: var(--spacing-medium-large);
}

.location-tile:hover {
  background-color: var(--background-color-grey);
}

.location-tile:hover::after {
  display: block;
}

.download-config-button-container {
  margin-top: auto;
  background-color: var(--background-color-grey);
  padding: var(--spacing-medium) var(--spacing-medium-large);
}

.download-config-button {
  display: flex;
  gap: 10px;
  font-size: 16px;
  align-items: center;
  justify-content: center;
  background-color: white;
  padding: var(--spacing-small) var(--spacing-medium-large);
  color: var(--accent-color);
  border-radius: var(--custom-border-radius);
}

.field-wrapper {
  position: relative;
  margin-bottom: var(--spacing-medium);
}

.field-wrapper input {
  border: 1px solid var(--color-light-grey);
  color: var(--text-color-heading);
  font-family: var(--font-family-base);
  padding: var(--spacing-small) var(--spacing-medium);
  border-radius: var(--custom-border-radius);
  width: 100%;
}

.field-wrapper input:focus {
  border: 1px solid var(--accent-color);
}

.field-wrapper .field-placeholder {
  position: absolute;
  pointer-events: none;
  bottom: var(--spacing-small);
  box-sizing: border-box;
  color: #80868b;
  left: 8px;
  background: #ffffff;
  transition: transform 150ms cubic-bezier(0.4, 0, 0.2, 1),
    opacity 150ms cubic-bezier(0.4, 0, 0.2, 1);
  z-index: 0;
  text-align: left;
  padding-inline: 4px;
}

.field-wrapper .field-placeholder .label {
  display: none;
}

.field-wrapper input:not([disabled]):focus ~ .field-placeholder {
  color: var(--accent-color);
}
.field-wrapper input:not([disabled]):focus ~ .field-placeholder,
.field-wrapper input:not(:placeholder-shown) ~ .field-placeholder {
  transform: scale(0.75) translateY(-20px) translateX(-8px);
}

.field-wrapper input:not([disabled]):focus ~ .field-placeholder span.label,
.field-wrapper input:not(:placeholder-shown) ~ .field-placeholder span.label {
  display: block;
}

input:focus::placeholder {
  opacity: 0;
}
