#sidebar {
  --gap: var(--spacing-medium);
  --gap-large: var(--spacing-medium-large);
  grid-area: sidebar;
  z-index: 3;
  display: grid;
  position: relative;
  grid-template-rows: auto 1fr;
}

#sidebar::after {
  z-index: 3;
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 10px;
  height: 100%;
  box-shadow: 4px 0px 6px -1px rgba(60, 64, 67, 0.15);
}

.sidebar-collapse-toggle {
  --sidebar-toggle-width: 0.75rem;
  z-index: 1;
  all: unset;
  position: relative;
  top: 50%;
  right: calc(-1 * var(--sidebar-toggle-width));
  width: var(--sidebar-toggle-width);
  height: 2rem;
  position: absolute;
  background-color: var(--background-color);
  border-radius: 0 4px 4px 0;
}

.sidebar-collapse-toggle::after {
  content: "";
  position: absolute;
  background-image: url("../assets/icons/toggle-sidebar-arrow-icon.svg");
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
}

.main-container.sidebar-is-collapsed .sidebar-collapse-toggle::after {
  transform: rotate(180deg);
}

.sidebar-collapse-toggle:not(:disabled):hover {
  cursor: pointer;
}

.content-grid,
.full-width {
  display: grid;
  grid-template-columns:
    [full-width-start] var(--gap-large)
    [content-start] var(--gap) [indented-start] auto
    [indented-end] var(--gap) [content-end] var(--gap-large)
    [full-width-end];
}

.content-grid > *:not(.breakout, .full-width, button),
.full-width > *:not(.breakout, .full-width, button) {
  grid-column: content;
}

.content-grid > .content {
  grid-column: content;
}

.content-grid > .indented {
  grid-column: breakout;
}

.content-grid > .full-width {
  grid-column: full-width;
}

.main-container #sidebar > div {
  transition: translate 0.3s ease-in-out;
}

.main-container.sidebar-is-collapsed #sidebar div {
  translate: calc(-1 * var(--sidebar-width));
}

.main-container.sidebar-is-collapsed #sidebar {
  display: block;
}

.google-maps-platform-text {
  height: var(--spacing-medium-large);
  margin-bottom: var(--spacing-medium);
}

.storytelling-intro {
  position: relative;
  background-color: rgba(248, 249, 250, 1);
  width: 100%;
  border-bottom: 1px solid var(--color-light-grey);
  padding-block: var(--gap);
}

.storytelling-intro h1 {
  padding-bottom: var(--spacing-small);
}

.google-maps-icon {
  background-image: url("../assets/icons/google-maps-icon.svg");
  display: none;
  margin-top: var(--gap);
  margin-left: var(--spacing-small);
}

.main-container.sidebar-is-collapsed .google-maps-icon {
  display: block;
}

.storytelling-intro. h1 {
  margin-bottom: var(--spacing-small);
}

.storytelling-intro p {
  color: var(--text-color-secondary);
}

.maps-platform-intro {
  display: flex;
  align-items: center;
  height: 1.5rem;
  color: var(--text-color-secondary);
}
