/* ---- import other css files here ---- */
@import "./styles/sidebar.css";
@import "./styles/chapters.css";

@font-face {
  font-display: swap;
  font-family: "New York Medium";
  src: url("../assets/fonts/New-York.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-display: swap;
  font-family: "Inter";
  src: url("../assets/fonts/Inter-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

/* ---- css vars ---- */
:root {
  /* ---- text colors ---- */
  --text-color-primary: #3c4043;
  --text-color-secondary: #5f6368;
  --text-color-white: #fff;
  --accent-color: #1a73e8;

  --color-light-grey: #e8eaed;
  --text-color-heading: #202124;
  --text-color-paragraph: var(--text-color-primary);

  /* ---- background colors ---- */
  --background-color: #fff;
  --background-color-grey: rgba(248, 249, 250, 1);
  --background-color-reduced: rgba(0, 0, 0, 0.54);
  --background-color-reduced-hover: rgba(0, 0, 0, 0.8);

  /* ---- fonts ---- */
  --font-family-base: "Google Sans", Roboto, sans-serif;
  --font-family-serif: "New York Medium", serif;
  --font-family-inter: "Inter", sans-serif;
  --font-size-small: 0.625rem;
  --font-size-medium: 0.875rem;
  --font-size-large: 1rem;
  --font-size-extra-large: 1.25rem;

  /* ---- spacing ---- */
  --spacing-extra-small: 0.25rem;
  --spacing-small: 0.5rem;
  --spacing-medium: 1rem;
  --spacing-medium-large: 1.5rem;
  --spacing-large: 2rem;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

ul,
ol {
  list-style: none;
}

* {
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100dvh;
  width: 100vw;
}

body {
  font-family: var(--font-family-base);
  font-size: var(--font-size-medium);
  line-height: 1.25rem;
  letter-spacing: 0.0015em;
  color: var(--text-color-primary);
  background-color: var(--background-color);
}

h1 {
  color: var(--text-color-heading);
  font-size: var(--spacing-medium-large);
  font-weight: 500;
  line-height: 1.4;
}

h2 {
  color: var(--text-color-heading);
  font-size: var(--font-size-extra-large);
  font-weight: 400;
  line-height: 1.4;
  letter-spacing: 0.1px;
}

h3 {
  color: var(--text-color-heading);
  font-size: var(--font-size-large);
  font-weight: 400;
}

p {
  color: var(--text-color-paragraph);
  font-size: var(--font-size-medium);
  font-weight: 400;
  line-height: 1.25rem;
  letter-spacing: 0.0015em;
}

fieldset {
  border: none;
}

/* Link styles */
a {
  color: var(--accent-color);
  font-size: 1rem;
  line-height: 1.5;
  outline: none;
}

/* Button styles */
button {
  all: unset;
  cursor: pointer;
  display: flex;
  height: 1rem;
  border-radius: 24px;
  color: var(--accent-color);
  font-weight: 500;
  padding: var(--spacing-small) var(--spacing-medium);
  align-items: center;
  gap: 8px;
}

.button[disabled] {
  cursor: not-allowed;
  opacity: 0.5;
}

/* ---- layout ---- */
.main-container {
  --sidebar-width: clamp(350px, 50vw, 400px);
  --sidebar-width-collapsed: 2.5rem;
  display: grid;
  grid-template-columns: var(--sidebar-width) 1fr;
  grid-template-rows: 100dvh;
  grid-template-areas: "sidebar map";
  overflow: hidden;
  transition: grid-template-columns 0.3s ease-in-out;
}

.main-container.sidebar-is-collapsed {
  grid-template-columns: var(--sidebar-width-collapsed) 1fr;
}

.map-container {
  position: relative;
}

/* ---- cesium ---- */
#cesium-container {
  position: relative;
  height: 100%;
}

.cesium-credit-logoContainer {
  display: none !important;
}

.cesium-credit-expand-link {
  display: none !important;
}

.cesium-attribution-container {
  z-index: 1;
  position: absolute;
  right: var(--spacing-medium);
  bottom: var(--spacing-extra-small);
  display: flex;
  align-items: center;
  gap: 9px;
  font-size: var(--font-size-small);
  color: var(--text-color-white);
}

.cesium-logo__image {
  width: 100px;
}

.cesium-viewer-bottom {
  width: calc(100% - 230px);
}

.cesium-viewer-bottom .cesium-widget-credits {
  margin: var(--spacing-extra-small) var(--spacing-medium-large);
  display: flex !important;
  align-items: center;
  justify-content: flex-start;
  gap: var(--spacing-medium);
}
